# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Django-specific
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/
env/
venv/
*.env

# IDE/editor specific files
.vscode/
.idea/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db

# Selenium WebDriver
chromedriver*
